{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1 and 2</h3>
    <table class="table table-striped">
      <tr>
	 <tr><td>curriculum</td> <td>  <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td></tr>
            <tr>
     	<td> END </td>
      </tr>
    </table>
  </div>
</div>


